packaging_format = 2

id = "iceshrimp"
name = "Iceshrimp"
description.en = "$app is a decentralized and federated social networking service, implementing the ActivityPub standard."
description.fr = "$app est un service de réseau social décentralisé et fédéré, implémentant le standard ActivityPub."

version = "v2023~ynh1"

maintainers = ["oufmilo"]

[upstream]
license = "AGPL-3.0"
website = "https://iceshrimp.dev"
code = "https://iceshrimp.dev/iceshrimp/iceshrimp"

[integration]
yunohost = ">= 11.2"
architectures = "all" 
multi_instance = false
ldap = "not_relevant" 
sso = "not_relevant" 
disk = "50M" 
ram.build = "2G"
ram.runtime = "2G"

[install]
    [install.domain]
    # this is a generic question - ask strings are automatically handled by Yunohost's core
    type = "domain"

    [install.init_main_permission]
    help.en = "If enabled, Firefish will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si cette case est cochée, Firefish sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

[resources]

    [resources.sources.main]
    url = "https://iceshrimp.dev/iceshrimp/iceshrimp/archive/v2023.11.4.tar.gz"
    sha256 = "e5918afc997f7b3513043ade77f0e3f5a222a724afd6742eed0b9128627a6712"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 3020

    [resources.apt]
    packages = "ffmpeg, postgresql, build-essential"

    [resources.database]
    type = "postgresql"